@use "../../css/api" as *;

.container {
    position: relative;
    display: flex;
    padding: #{gutter-get(8)};
    height: 100vh;
    width: 100vw;
    align-items: center;
    flex-flow: column;
    gap: #{gutter-get(7)};
    justify-content: center;

    img:first-child {
        position: relative;
        display: block;
        margin-top: calc(0px - (120px + #{gutter-get(7)}));
    }
}
