@use "api" as *;

body {
    --background: #064663;
    --button: #396EB0;
    --text: #f0d290;
    --text-prominent: #ecb365;

    background: var(--background);
    color: var(--text);
    font-size: 18px;
    line-height: 1.7;
}
