@use "api" as *;

body {
    --background: #086e7d;
    --background-darker: #1a5f7a;
    --button: #064663;
    --text: #f0d290;
    --text-prominent: #ecb365;

    background: var(--background);
    color: var(--text);
    font-size: 18px;
    line-height: 1.7;
}
